<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="debug"
      internalLogFile="${basedir}\Logs\internal-nlog.log">
  <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection,MySqlConnector"
            connectionString="Database=ChuanGoing;Data Source=127.0.0.1;User Id=root;Password=ChuanGoing;pooling=true;CharSet=utf8;port=3306;">
      <commandText>
        INSERT INTO Nlog
        (Application, Date, Level, Message, Logger, CallSite, Exception)
        VALUES
        (@Application, @Date, @Level, @Message, @Logger, @Callsite, @Exception);
      </commandText>
      <parameter name="@application" layout="Domain" />
      <parameter name="@date" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
    <!--<target xsi:type="File" name="allfile" fileName="${basedir}\Logs\LogAll\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->
    <target xsi:type="File" name="allfile" fileName="${basedir}\Logs\LogAll\${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownfile" fileName="${basedir}\Logs\ownfile\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <!--<logger name="Microsoft.*" minlevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="ownfile" />
    <logger name="*" minlevel="Warn" writeTo="database" />-->
  </rules>
</nlog>